.box{
    height: 100px;
    width: 100px;
    max-width : 100px;
    border: 1px solid black;
    margin: auto;
    background-color: rgb(234, 214, 188);
    text-align: center;
}

.container{
    background-color: aliceblue;
    display: flex;
    margin: 10%;
    
}